<div class="driver-dashboard-container">
  <div data-role="Header" class="driver-dashboard-navbar-container">
    <div class="driver-dashboard-navbar">
      <div class="driver-dashboard-left-side">
        <img
          alt="image"
          src="/assets/playground_assets/icons8-f1-car-ios-32.png"
          loading="eager"
          class="driver-dashboard-image"
        />
        <h1>Flotilla Conductor</h1>
      </div>
    </div>
  </div>
  <div class="driver-dashboard-team">
    <div class="driver-dashboard-cards-container">
      <div class="driver-dashboard-team-card">
        <div class="driver-dashboard-avatar-container">
          <svg viewBox="0 0 1024 1024" class="driver-dashboard-icon">
            <path
              d="M576 706.612v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h896c0-128.968-166.898-235.64-384-253.388z"
            ></path>
          </svg>
        </div>
        <span class="driver-dashboard-name card-Heading">Nombre</span>
        <span class="driver-dashboard-position card-Text">Conductor</span>
      </div>
    </div>
  </div>
  <div class="driver-dashboard-get-in-touch">
    <div class="driver-dashboard-content-container">
      <div class="driver-dashboard-form-container">
        <span class="driver-dashboard-heading bigCard-Heading">
          Generar QR para despacho
        </span>
        <qrcode *ngIf="mostrarQR" [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        <button type="button" (click)="toggleQR()" class="driver-dashboard-cta-btn anchor button">
          Generar
        </button>
      </div>
    </div>
  </div>
</div>
